# Use the public npm registry for all packages by default
registry=https://registry.npmjs.org/

# Use AWS CodeArtifact for your scoped packages
@lib.setup:registry=https://domain-171538455264.d.codeartifact.us-east-2.amazonaws.com/npm/repo/
//domain-171538455264.d.codeartifact.us-east-2.amazonaws.com/npm/repo/:always-auth=true
//domain-171538455264.d.codeartifact.us-east-2.amazonaws.com/npm/repo/:_authToken=${CODEARTIFACT_AUTH_TOKEN}